.bg-image-full {
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    top:0;
    background-attachment: fixed;
}

  html,
  body,
  header,
  .view {
    height: 100%;
  }
   
  .top-nav-collapse {
    background-color: #a1a7cf !important;
  }
  
  .navbar:not(.top-nav-collapse) {
    background: rgba(255, 255,255, 0.3);
    display: flex;

  }


  @media (max-width: 765px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #a1a7cf !important;
    }

    .navbar:not(.top-nav-collapse) a {
        color: rgb(85, 77, 77) !important;
      }

    .navbar:not(.top-nav-collapse) button {
    color: white !important;
    }

    #collapseButton{
        border:none;
        color:white;
    }

    #languageButton button{
        width: 40%;
        left:25%;
        border-radius: 7px;
        border-width: 2px;
        border-color: white;
        margin: 3px;
    }

  } 
  
  @media (max-width: 450px){
    #logo{
    width: 200px;
    height:200px;
    }
  }

  body{
    padding: 0;
    margin:0;
    background:white;

}

.wrapper{
    display: flex;
    justify-content: center;
    align-content: flex-start;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    margin-bottom: 8em;
    border-radius: 1%;
    margin:15px;
    margin-left: 10px;
    margin-right: 10px;
}


.text{
    /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
    /* border: 1px solid rgba(37, 18, 206, 0.8); */
    border-radius: 15px;
    padding:5px;
    align-self: center;
    margin-left: 1em;
    width: 50%;
    text-align: justify;
    
}
.text p {
    padding:0 0.5em ; 
    font-size: 1.3em;
    margin-top: 0.5em;
    
}

.wrapper img{
    opacity: 0.8;
}

a:hover{
    color:rgba(235, 113, 13, 0.8);
}

a:active{
    color:rgba(255, 56, 6, 0.8);
}


.title-diamonh {
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0;

}
.title-star{
    text-align: center;
    font-size: 1.8em;
    margin-bottom: 0.9em;

}


@media only screen and (max-width: 1200px){

    body{
    padding: 0;
    margin:150px;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    }
    .wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);

    }

    .image{
        align-self: center;
        margin-bottom: 0.5em;
    }

    .image img {
        width: 100%;
        height: auto;
    }

    .text{
       
        margin-left: 1em;
        margin-right: 1em;
        width: 100%;
        text-align: justify;
        background-color: rgba(221, 238, 250, 0.9);
    }

    .text p {
        padding:0 0.5em ; 
        font-family: 'Tinos', serif ;
        font-size: 1.5em;
        margin-top: 0.5em;
    }

    .text a {
    text-decoration: none;
    color:rgba(37, 18, 206, 0.8);
   
    }

    a:hover{
        color:rgba(235, 113, 13, 0.8);
    }

    a:active{
        color:rgba(255, 56, 6, 0.8);
    }


    .info{
    font-family: 'Roboto', sans-serif;
    color:rgba(7, 77, 180, 0.8);
    text-decoration:underline ;
    margin-bottom: 0.5em;
    }

    .title-diamonh {
        text-align: center;
        font-size: 1.8em;
        margin-bottom: 0;  
    
    }
    .title-star{
        text-align: center;
        font-size: 1.8em;
        margin-bottom: 0.9em;
    
    }

}

.checked {
    color: rgb(240, 205, 10);
  }

