
  
  
  .title{
        text-align: center;
      }
  
  
    h1{
      font-family: 'Alegreya', serif;
      font-size: 3.5em;
    
    }
  
  
   
  
  
    img{
  
          width: 100%;
          height: auto;
    }
  
  
  
  
  
    .description{
      font-family: 'Roboto', sans-serif;
      font-size: 1.2em;
      color:rgba(0, 0, 0, 0.9);
    }
  
  
    .info{
      font-size: 1.1em;
      font-family: 'Roboto', sans-serif;
      color:rgba(0, 0, 0, 0.8);
    }
  
    p{
      font-size: 1.5em;
      font-family: 'Tinos', serif;
      text-align: justify;
    }
  
    
    .line{
      border: 1px solid rgba(4, 18, 80, 0.9); 
      border-style: dashed;
      
  
    }
  
    .box{
      border: 1.5px solid rgba(7, 77, 180, 0.8);
      box-shadow: aqua;
    }
  
  
  
  
    @media screen and (max-width:600){
      h1{
        font-family: 'Alegreya', serif;
        font-size: 2em;
      
      }
  
      p{
        font-size: 1.2em;
        font-family: 'Tinos', serif;
        text-align: justify;
      }
    
  
    }